
.product_card{
    height: 350px;
    width: 350px;
    background-color: rgb(235,235,243);
    display: flex;
    flex-direction: row;
}
.card_icon{
    margin-left: 220px;
    height: 50 px;
    width: 30 px;
}
.Heart{
    margin-left: 10px;
}
.Eye{
    margin-left: 10px;
}
.card_image img{
    margin-left: 65px;
    height: 150 px;
    width: 200px;
}
.card_offer{
    color:red;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    border: 2;
    background-color: rgb(244, 238, 238);
}

div.add_to_card{
    margin-left: 40%;
    width: 86px;
    height: 200px;
    
}
div.add_to_card p{
    color: rgba(255, 255, 255, 0.897);
    background-color: black;
    
}
div.product_details{
    display: inline;
}
