
.product_card{
    display: grid;
}
.product_coi{
    background-color: rgb(5, 132, 244);
}
div.product_content{
    height: 250px;
    width: 300px;
    background-color: rgb(235, 235, 243);
}
.card_icon{
    float: right;
}

.card_image img{
    height: 150 px;
    width: 200px;
}
.card_offer{
    color:red;
}

div.add_to_card{

    width: 86px;
    height: 200px;
    
}
div.add_to_card p{
    color: rgba(255, 255, 255, 0.897);
    background-color: black;
    
}
